$navigation-font:"letter/designer";
$headers-font:"spooky";
$text-font:"montserrat";
$header-size:50px;
$text-size:14px;
$border-radius:8px;
$background-color:rgb(131, 210, 131);
$input-color:#FFB89A;