* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.cart_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgba(131, 210, 131, 0.48);
  font-family: "montserrat";
  padding: 25px;
}

.order-summary {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
}

#cartProducts {
  grid-area: products;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  line-height: 2;
  text-align: center;
}

.my-cart-name {
  font-size: 50px;
  font-family: "letter/designer";
  text-align: center;
}

.cart-item__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.cartBtn {
  background-color: #FFB89A;
  min-width: 22px;
  height: 3vh;
}

.cart-item {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 2fr) 1fr;
  gap: 30px;
  text-align: center;
  place-items: center;
  min-height: 80px;
  height: auto;
  padding: 17px;
}

.cart-headers {
  display: grid;
  grid-area: headers;
  grid-template-columns: repeat(4, 2fr) 1fr;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid white;
  text-align: center;
}

.cart-actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#checkoutBtn, #clearCartBtn, .applyBtn {
  height: 4vh;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
}

#checkoutBtn img {
  max-width: 45px;
}

.apply {
  display: flex;
  gap: 10px;
}

.promo-wrapper {
  padding: 10px;
}

.btn-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.promo-code {
  display: flex;
  align-items: center;
  gap: 5px;
}

.text-area textarea {
  height: 10vh;
  width: 400px;
}

.value {
  font-weight: bold;
}

.cart-badge-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.global-cart-count {
  position: absolute;
  transform: rotate(344deg);
  top: 17px;
  right: 25px;
  background-color: #ff4d4d;
  color: white;
  font-size: 11px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
  min-width: 10px;
  text-align: center;
}

.header__burger {
  display: none;
  z-index: 9999;
}
.header__burger--icon {
  cursor: pointer;
  width: 40px;
}

.header__mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 51vw;
  height: 100vh;
  background-color: rgba(158, 158, 158, 0.5411764706);
  border: 2px solid black;
  border-radius: 8px;
  padding: 15px;
  z-index: 9990;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.95);
  flex-direction: column;
  gap: 15px;
  color: white;
  font-family: "montserrat";
  align-items: center;
}

.mobile-menu-active {
  display: flex !important;
}

@media screen and (max-width: 1200px) {
  .header .header__mobile-user-icon {
    width: 50px;
    cursor: pointer;
  }
  .header .header__mobile-user, .header .header__mobile-cart, .header .header__mobile-shop, .header .header__mobile-logout {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2705882353);
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header .header__mobile-user:hover, .header .header__mobile-cart:hover, .header .header__mobile-shop:hover, .header .header__mobile-logout:hover {
    transform: translate 0.5s ease;
    transform: scale(1.23);
  }
  .header .cart-image-btn {
    display: none;
  }
  .header .shop-image-btn {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__burger--icon {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 128, 0, 0.3294117647);
  }
  .header #logotBtn {
    display: none;
  }
  .header .header__mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .header .header__mobile-menu p {
    cursor: pointer;
  }
  .header .header__mobile-menu p:hover {
    transform: translate 0.5s ease;
    transform: scale(1.23);
    font-weight: bold;
  }
  .header__mobile-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 980px) {
  .cart-headers {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .cart-item {
    grid-template-columns: 1fr;
  }
  .text-area textarea {
    width: 260px;
  }
  .product-name {
    font-size: 14px;
  }
  .btn-wrapper {
    align-items: center;
    justify-content: center;
  }
  .order-summary {
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=cart_style.css.map */