@import url(../font.scss);
@import url(../variables_style/variables_style.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.signIn_formbox {
  max-width: 500px;
  margin: 280px auto;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  background-color: rgb(131, 210, 131);
  padding: 15px;
  border: 3px solid black;
}

.signIn_title {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.signIn_title span {
  font-size: 20px;
}

.signIn_form {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-areas: "email-key email-value" "password-key password-value" "empty submit" "helpBtn helpBtn ";
  gap: 10px;
  margin: 40px 0;
  align-items: center;
  justify-content: center;
}
.signIn_form input {
  height: 5vh;
  border-radius: 15px;
  padding-left: 10px;
  font-style: italic;
}

.email-input {
  grid-area: email-value;
}

.email-label {
  grid-area: email-key;
}

.password-input {
  grid-area: password-value;
}

.password-label {
  grid-area: password-key;
}

.form-submit {
  grid-area: submit;
  height: 5vh;
  border-radius: 15px;
  cursor: pointer;
  font-family: monospace;
}
.form-submit:hover {
  font-weight: bold;
}

.signIn__help {
  grid-area: helpBtn;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.helpBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(37, 147, 191);
}
.helpBtn:hover {
  font-weight: bold;
}

.header__burger {
  display: none;
  z-index: 9999;
}
.header__burger--icon {
  cursor: pointer;
  width: 40px;
}

.header__mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 51vw;
  height: 100vh;
  background-color: rgba(158, 158, 158, 0.5411764706);
  border: 2px solid black;
  border-radius: 8px;
  padding: 15px;
  z-index: 9990;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.95);
  flex-direction: column;
  gap: 15px;
  color: white;
  font-family: "montserrat";
  align-items: center;
}

.mobile-menu-active {
  display: flex !important;
}

@media screen and (max-width: 1100px) {
  .header .header__mobile-user-icon {
    width: 50px;
    cursor: pointer;
  }
  .header .header__mobile-signup, .header .header__mobile-login, .header .header__mobile-shop {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2705882353);
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .header .header__mobile-signup:hover, .header .header__mobile-login:hover, .header .header__mobile-shop:hover {
    transform: translate 0.5s ease;
    transform: scale(1.23);
  }
  .header .cart-image-btn {
    display: none;
  }
  .header .shop-image-btn {
    display: none;
  }
  .header__burger {
    display: block;
  }
  .header__burger--icon {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 128, 0, 0.3294117647);
  }
  .header #logotBtn {
    display: none;
  }
  .header .header__mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .header .header__mobile-menu p {
    cursor: pointer;
  }
  .header .header__mobile-menu p:hover {
    transform: translate 0.5s ease;
    transform: scale(1.23);
    font-weight: bold;
  }
  .header__mobile-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=logIn_style.css.map */